<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>ipdb</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>usuariodb</param-name>
        <param-value>cigom_u</param-value>
    </context-param>
    <context-param>
        <param-name>dbname</param-name>
        <param-value>cigomdb</param-value>
    </context-param>
    <context-param>
        <description/>
        <param-name>password</param-name>
        <param-value>CigomWeb2016</param-value>
    </context-param>
    <context-param>
        <description>
            <!--C:/Users/Alejandro/Documents/Projects/pemex/-->
                 /home/blast/querys/
        </description>
        <param-name>blastdir</param-name>
        <!-- <param-value>C:/Users/Alejandro/Documents/Projects/GCT3NG/blast/</param-value>-->
        <!-- C:/Users/app/ -->
        <!--/home/blast/querys/-->
        <param-value>/home/blast/querys/</param-value>
    </context-param>
    <context-param>
        <param-name>blastdbs</param-name>
        <!-- <param-value>C:/Users/Alejandro/Documents/Projects/GCT3NG/blast/</param-value>-->
        <!--Para jose C:/Users/app/ -->
        <!--/home/blast/blastdb/-->
        <param-value>/home/blast/blastdb/</param-value>
    </context-param>
    <context-param>
        <param-name>jobOutFile</param-name>
        <param-value>out.txt</param-value>
    </context-param>
    <context-param>
        <param-name>blastn</param-name>
        <!--<param-value>/opt/ncbi-blast-2.2.30+/bin/blastn</param-value> -->
        <!--<param-value>blastn</param-value> -->
        <param-value>/home/blast/ncbi-blast-2.5.0+/bin/blastn</param-value>
    </context-param>
    <context-param>
        <param-name>blastp</param-name>
        <!--  <param-value>/opt/ncbi-blast-2.2.30+/bin/blastp</param-value>  -->
        <!-- <param-value>blastp</param-value>-->
        <param-value>/home/blast/ncbi-blast-2.5.0+/bin/blastp</param-value>
    </context-param>
    <context-param>
        <param-name>blastx</param-name>
        <!-- <param-value>/opt/ncbi-blast-2.2.30+/bin/blastx</param-value>  -->
        <!--<param-value>blastx</param-value> -->
        <param-value>/home/blast/ncbi-blast-2.5.0+/bin/blastx</param-value>
    </context-param>
    <context-param>
        <param-name>clustalw2</param-name>
        <param-value>/home/blast/clustalw-2.1-linux-x86_64-libcppstatic/clustalw2</param-value>
    </context-param>
    <servlet>
        <servlet-name>BlastController</servlet-name>
        <servlet-class>controller.BlastController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SequenceController</servlet-name>
        <servlet-class>controller.SequenceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SequenceController</servlet-name>
        <url-pattern>/getSequence</url-pattern>
        <url-pattern>/serveFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlastController</servlet-name>
        <url-pattern>/blast</url-pattern>
        <url-pattern>/deleteJob</url-pattern>
        <url-pattern>/blastSearch</url-pattern>
        <url-pattern>/showJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/log</url-pattern>
        <url-pattern>/homeCamp</url-pattern>
        <url-pattern>/actualizaT</url-pattern>
        <url-pattern>/CerrarSesion</url-pattern>
        <url-pattern>/Muestra</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
